<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Votre titre ici{% endblock %}</title>
    
    {% block stylesheets %}
        <!-- Inclure le fichier CSS de Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Inclure vos autres fichiers CSS ici -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

{% block javascripts %}
    <!-- Inclure le fichier JS de Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <!-- Inclure vos autres fichiers JS ici -->
    <script src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
</body>
</html>
