{% extends 'base.html.twig' %}

{% block title %}Edit Rubrique{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_rubrique_index') }}">Rubriques</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_sous_rubrique_index') }}">Sous rubriques</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 class="mt-4 mb-3">Edit rubrique</h1>

    <div class="row">
        <div class="col-md-6">
            {{ include('rubrique/_form.html.twig', {'button_label': 'Enregistrer', 'button_class': 'btn btn-primary'}) }}
            
            <a href="{{ path('app_rubrique_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
        </div>
    </div>
</div>
{% endblock %}
