{% extends 'base.html.twig' %}

{% block title %}Edit Rubrique{% endblock %}

{% block body %}
    <h1>Edit Rubrique</h1>

    {{ include('rubrique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_rubrique_index') }}">back to list</a>

    {{ include('rubrique/_delete_form.html.twig') }}
{% endblock %}
