{# templates/rubriques.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Rubriques et Sous-Rubriques{% endblock %}

{% block body %}
<div id="rubriques-container">
    {% for rubrique in rubriques %}
    <div class="rubrique" data-id="{{ rubrique.id }}">
        <span class="rubrique-name">{{ rubrique.name }}</span>
        <div class="sous-rubriques" style="display: none;">
            {% for sousRubrique in rubrique.sousRubriques %}
            <div class="sous-rubrique">{{ sousRubrique.name }}</div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/script.js') }}"></script>
{% endblock %}
